<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- Config Store bootstrappes via environmentvariablen AZURE_APPCONFIG_CONNECTIONSTRING. -->
    <add key="UseConfigStore" value="true" />
    <add key="LocalOverrideFile" value="appsettings.local.json" />
    <add key="Mode" value="DRYRUN" />
    <add key="EnableLocalDebugLogging" value="false" />
    <add key="LocalDebugLogPath" value="" />
    <add key="MutexName" value="dk.gi.app.konto.startarealtjek" />
    <add key="modtagereEmail" value="fallback@gi.dk" />
    <add key="SecondsToSleep" value="45" />
    <add key="MaxWaitCount" value="15" />
    <add key="TimeOutMinutter" value="2" />
    <add key="reuseserviceclient" value="true" />
    <add key="ServiceBusQueueName" value="crmpluginjobs" />
    <add key="ServiceBusLabel" value="ArealTjekKonto" />
    <add key="ServiceBusSessionId" value="38852E10-DCF3-4453-A701-1A90AFDD1B14" />
    <add key="QueueScheduleStepSeconds" value="15" />
  </appSettings>
</configuration>
